header {
    display:block;
    margin: px 10px;
}
.banner .logo{
    height: 85px;
}

.banner {
    text-align: center
}
.logo:hover {
    background: url(logo_hover.png);
}

a{
    text-decoration: none;
    color: white;
}

.sniper{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: auto;
}

.storyimg{
    display: block;
    margin:auto;
    width: 100%;
    max-width: 800px;
    height: auto
}
.container {
    text-align: left;
    width: 60%;
    height: auto;
    background-color: black;
    background: rgba(0,0,0,0.6);
    margin: auto;
    padding: ;
    margin-bottom: 20px;
    margin-top: 5px;
    background-position: center;
    padding: 15px 25px
}

/* == buttons == */
.start {
    text-align: center;
}

.button{
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-variant-caps: ;
    font-weight: bolder;
    font-style: italic;
    display: inline-block;
    cursor: pointer;
    margin: auto;
    margin-bottom: 5px;

}
.play {
    background: white;
    color: #000000;
    border: 4.5px solid white;
    border-radius: 5px;
    font-size: 18px
}

.play:hover {
    transition-duration: 0.4s;
    border-radius: 0px;
    border: solid 4.5px black;
    color: white;
    background-color: #000000;
}

.disabledbutton{
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-variant-caps: ;
    font-weight: bolder;
    font-style: italic;
    display: inline-block;
    cursor: not-allowed;
    margin: auto;
    margin-bottom: 5px;
    height: 50px;
    font-size: 15px;

}

/* ==Background== */

body {
    background: url(apocalypse_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center
}

/* ==Typography== */
body {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12pt;
}

h1 {
    text-align: center;
    font-style: oblique;
    font-variant-caps: all-small-caps;
    font-size: 36pt
}


/* ==fade animation== */
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
    